@media screen and (min-width: 428px) {
  .container {
    max-width: 396px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }

  /* ----------STRATEGY---------- */

  .strategy-list {
    gap: 72px 24px;
  }


  .strategy-item {
    width: calc((100% - 24px) / 2);
  }

  .strategy-subtitle {
    text-align: left;
  }

  /* ----------TEAM---------- */

  .team {
    padding: 96px 108px;
  }

  .team-list {
    gap: 64px 24px;
  }

  .team-item {
    width: calc((100% - 24px) / 2)
  }

    /* ----------Customers---------- */

  .customers-list{
    gap: 72px 24px;
  }

  .customers-item-icon{
    width: calc((100% - 72px) / 3);
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1440px;
  }

  /* ----------STRATEGY---------- */

  .strategy {
    padding: 120px 0;
  }

  .strategy-list {
    gap: 24px;
  }

  .strategy-item {
    width: calc((100% - 72px) / 4);
  }

  .strategy-item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .strategy-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    /* 24/20 */
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 8px;
    text-transform: capitalize;
  }

  .strategy-item-text {
    font-weight: 400;
  }

  /* ----------WAWD---------- */

  .wawd {
    padding-bottom: 120px;
    display: flex;
  }

  .wawd-title {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    /* 40/36 */
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
  }

  .wawd-list {
    display: flex;
    gap: 24px;
  }

  .wawd-item {
    width: calc((100% - 48px) / 3);
  }

  /* ----------TEAM---------- */

  .team {
    padding: 120px 0;
  }

  .team-item {
    width: calc((100% - 72px) / 4);
  }

    /* ----------Customers---------- */

    .customers-list{
      gap: 24px;
    }

    .customers-item-icon{
      width: calc((100% - 120px) / 6);
    }
}