@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }

  .hero-title {
    font-size: 25px;
  }

  .team {
    padding: 40px 0;
  }

  .team-title {
    margin-bottom: 40px;
  }

  .team-list {
    gap: 40px;
  }

  .footer-social-text {
    font-size: 13px;
  }

  .social-media-container {
    margin: 56px 40px;
  }

  .modal-window {
    width: 320px;
  }

  .mob-tel-link {
    font-size: 25px;
  }

  .mob-socials-list {
    gap: 31px;
  }
}

@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
  .hero-title {
    font-size: 36px;
  }

  .mob-socials-list {
    gap: 56px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  /* ----------HEADER---------- */

  .header-menu {
    color: #2e2f42;
    display: flex;
    gap: 40px;
  }

  .header-menu-item {
    /* color: var(--navy-blue); */
    padding: 24px 0;
  }

  .header-menu-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5; /* 24/16 */
    letter-spacing: 0.02em;
    padding: 24px 0;
    position: relative;
    /* color: var(--navy-blue); */
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .active-menu-link {
    color: #404bbf;
  }

  .active-menu-link.header-menu-link:after {
    width: 100%;
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .header-menu-link:hover,
  .header-menu-link:focus {
    color: #404bbf;
  }

  .header-address {
    font-style: normal;
  }

  .header-socials {
    color: #434455;
    display: flex;
    /* gap: 40px; */
    flex-direction: column;
    gap: 12px;
  }

  .header-socials-item {
    /* line-height: 1.5;
    letter-spacing: 0.02em; */
    font-size: 12px;
    line-height: 1.16; /* 14/12 */
    letter-spacing: 0.04em;
    color: var(--slate);
  }

  .header-socials-link {
    color: var(--slate);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-socials-link:hover,
  .header-socials-link:focus {
    color: #404bbf;
  }

  .header-open-btn {
    display: none;
  }

  /* ----------HERO---------- */

  .hero .container {
    max-width: 768px;
  }

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-tablet-opt.jpg);
    max-width: 768px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Dark-bg-tablet-2x-opt.jpg);
    }
  }

  .modal-window {
    width: 408px;
  }

  .container-hero {
    padding: 0 120px;
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto 36px;
  }
  /* ----------STRATEGY---------- */

  /* .strategy .container {
    max-width: 736px;
  } */

  .strategy-list {
    gap: 72px 24px;
  }

  .strategy-item {
    width: calc((100% - 24px) / 2);
  }

  .strategy-subtitle {
    text-align: left;
  }

  /* ----------TEAM---------- */

  .team .container {
    max-width: 552px;
  }

  .team {
    padding: 96px 108px;
  }

  .team-list {
    gap: 64px 24px;
    max-width: 768px;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }

  /* ----------Customers---------- */

  .customers {
    padding: 96px 92px;
  }

  .customers .container {
    max-width: 552px;
  }

  .customers-list {
    gap: 72px 24px;
  }

  .customers-item-icon {
    width: calc((100% - 72px) / 3);
  }

  /* ----------FOOTER---------- */

  .footer {
    padding: 96px 92px;
  }

  .container-footer {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-main-text {
    width: 264px;
    height: 72px;
    margin: 0;
  }

  .footer-text {
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    margin: 0;
    margin-right: 24px;
  }

  .social-media-container {
    margin: 0px 0px;
  }

  .footer-social-text {
    text-align: left;
  }

  .modal-footer-title {
    text-align: left;
  }

  .modal-footer-form {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  .modal-footer-label {
    margin-right: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1440px;
  }

  /* ----------HEADER---------- */

  .header-container {
    gap: 90px;
  }

  .header-socials {
    flex-direction: row;
    gap: 40px;
  }

  .header-socials-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /* ----------HERO---------- */

  .hero {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-1.jpg);
    max-width: 1440px;
  }

  .hero .container {
    max-width: 1440px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-2x-opt.jpg);
    }
  }

  .container-hero {
    padding: 0 126px;
  }

  .hero-title {
    margin: 0 auto 48px;
  }

  /* ----------STRATEGY---------- */

  .strategy {
    padding: 120px 0;
  }

  .strategy .container {
    max-width: 1440px;
  }

  .strategy-list {
    gap: 24px;
    width: 1128px;
    margin: 0 auto;
  }

  .strategy-item {
    width: calc((100% - 72px) / 4);
  }

  .strategy-item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .strategy-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    /* 24/20 */
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 8px;
    text-transform: capitalize;
  }

  .strategy-item-text {
    font-weight: 400;
  }

  /* ----------WAWD---------- */

  .wawd {
    padding-bottom: 120px;
    display: flex;
  }

  .wawd-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    /* 40/36 */
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
  }

  .wawd-list {
    display: flex;
    gap: 24px;
    margin: 0 auto;
    width: 1128px;
  }

  .wawd-item {
    width: calc((100% - 48px) / 3);
  }

  /* ----------TEAM---------- */

  .team {
    padding: 120px 0;
  }

  .team-item {
    width: 264px;
    margin: 0 auto;
  }

  .team .container {
    max-width: 1440px;
  }

  .team-list {
    max-width: 1440px;
    width: 1128px;
    margin: 0 auto;
  }

  /* ----------Customers---------- */

  .customers .container {
    max-width: 1440px;
  }

  .customers-list {
    gap: 24px;
    width: 1128px;
    margin: 0 auto;
  }

  .customers-item-icon {
    width: calc((100% - 120px) / 6);
  }

  /* ----------FOOTER---------- */

  .footer {
    padding: 100px 0;
  }

  .container-footer {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0 auto;
  }

  .footer-text {
    margin-right: 120px;
    width: auto;
  }

  .footer-main-text {
    width: 264px;
    height: 72px;
  }

  .social-media-container {
    margin-right: 80px;
  }

  .modal-footer-form {
    display: flex;
    gap: 24px;
  }

  .modal-footer-label {
    margin-right: 0px;
  }
}
